
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}


:root{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
/* Neutral */

--White: hsl(0, 0%, 100%);
--Very-light-blue: hsl(209, 58%, 97%);
--Light-grayish-blue1-active: hsl(211, 68%, 94%);
--Light-grayish-blue2: hsl(205, 33%, 90%);
--Grayishblue: hsl(219, 14%, 63%);
--Darkgrayishblue: hsl(219, 12%, 42%);
--Verydarkblue: hsl(224, 21%, 14%);

/* font size */
--font-size-paragraph: 16px;
}

body{
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--Very-light-blue);
}


.container{
    margin: auto;
    width: 80%;
    max-width: 1440px;
   
}


.textbox{
    background-color: var(--White);
    box-shadow: 3px;
   border-radius: 15px;
    margin: 70px auto;
    padding: 0 30px;
}

.textbox2{
   display: block;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: var(--White);
    margin: 10px 0px;
    max-width: 90%;
    font-size: var(--font-size-paragraph);
}


/* nav */
nav{
    display: flex;
    align-items: center;
    padding: 20px  0;

}

nav > h3{
 margin: 0 auto 0  0;
 padding: 0;;
}
nav >p{
    margin: 0;
    font-size:var(--font-size-paragraph);
    color: var(--Grayishblue);
}

#notifications-num{
    color: var(--White);
    background-color: var(--Blue);
    padding: 2px 10px;
    border-radius: 3px;
    margin-left: 3px;
    font-size:14px;
}



/* Main */

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}

li{
  display: flex;
  align-items: center;
  margin: 16px 0;
  padding: 16px 10px;
  background-color: var(--Very-light-blue);
  border-radius: 8px;
}

li > img{
    width: 50px;
    border-radius: 50%;
    margin-right:10px;
}

#userName{
    font-weight: 800;
}

.time{
    display: block;
    color: var(--Blue);
}


/* Functionalities ;) */

#already-read{
    background-color: var(--White);
}

#mark-allmessages{
    cursor: pointer;
}

#mark-allmessages:hover{
    color: var(--Blue);
}

.new{
  background-color: var(--Red);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  
}